form {
    margin: 10px;
    padding: 10px 15% 10px 15%;
    font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

form.grid {
    margin: 5px;
    padding: 5px 5% 10px 5%;
    font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
    cursor: auto;
}

label {
    font-weight: bold;
    margin-left: 3px;
}

label.label-normal {
    font-weight: normal;
    font-size: medium;
    vertical-align: top;
}

span {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

span.block-tiny {
    width: calc(11% + 1px);
}

span.block-small {
    width: calc(16.5% + 2px);
}

span.block-quarter {
    width: 22.5%;
    min-width: 252px;
}

span.block-half {
    width: calc(45% + 6px);
    min-width: 420px;
}

span.block-wide {
    width: 72%;
    min-width: 420px;
}

span.block-full {
    width: 100%;
    min-width: 420px;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
select {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 3px solid #BEBEBE;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 100%;
    border-radius: 5px;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=email]:focus,
textarea:focus,
select:focus {
    border: 3px solid green;
}

input[type=submit],
input[type=button] {
    padding: 20px 30px 20px 30px;
    border: none;
    color: #fff;
    font-size: large;
    background: grey;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
}

input[type=submit]:hover,
input[type=button]:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: darkgrey;
}

input[type=button].insert {
    padding: 5px 5px 5px 5px;
    width: 202px;
    height: 50px;
    background: green;
}

input[type=submit].pagination,
input[type=button].delete,
input[type=button].edit {
    padding: 7px 10px 7px 10px;
    width: 100px;
    height: 40px;
}

input[type=button].edit {
    background: orange;
}

input[type=button].delete {
    background: red;
}

input[type=submit].pagination {
    background: darkolivegreen;
}

input[type=button].insert:hover {
    background: darkgreen;
}

input[type=button].edit:hover {
    background: darkorange;
}

input[type=button].delete:hover {
    background: darkred;
}

input[type=submit].pagination:hover {
    background: darkgreen;
}

input[type=submit].save {
    background: green;
}

input[type=submit].save:hover {
    background: darkgreen;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    padding-top: 10px;
}

.select-css {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("flecha.png"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 5px 10px;
}

th {
    background-color: darkolivegreen;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: larger;
}

th.action {
    text-align: left;
    background-color: white;
}

td {
    text-align: left;
    padding: 5px 15px 5px 15px;
}

tr:nth-child(even) {
    background-color: seashell;
}

@keyframes shake3 {
    0% {
        left: -5px
    }
    16% {
        left: 5px
    }
    33% {
        left: -5px
    }
    49% {
        left: 5px
    }
    66% {
        left: -5px
    }
    80% {
        left: 5px
    }
    100% {
        left: 0
    }
}

.error {
    background: tomato;
    animation-name: shake3;
    animation-duration: .4s;
    position: relative;
    border: 1px solid red;
    outline: none;
}

@media only screen and (max-width: 600px) {
    form {
        background-color: lightblue;
        padding: 10px 10px 10px 10px;
        margin: 0px;
    }
    span {
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    span.block-tiny,
    span.block-small,
    span.block-quarter,
    span.block-half,
    span.block-wide,
    span.block-full {
        width: 100%;
    }
}